
body{
    font-family: 'Futura', sans-serif;
    background-color: #1d2923;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    grid-gap: 10px;
    
}
.parent{
    flex: 0 0 26%;
    
}

.card{
    height: 140px;
    width: 110px;
    border-radius: 4px 12px;
    cursor: pointer;
    margin: 20px;
	box-shadow: 5px 5px 0 0 rgb(126, 119, 83);
}


.start{
    margin-top: 300px;
    height: 50%;
    width: 62%;
    color: white;
    letter-spacing: 10px;
    font-size: 70px;
    font-family: 'Creepster', cursive;
    cursor: pointer;
}


.reset{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
    margin: 26px;
}

.resetBtn{
    margin-right: -55px;
    position: fixed;
    color: white;
    letter-spacing: 2px;
    font-family: 'Futura', sans-serif;
    background-color: rgb(210, 159, 84);
    border-radius: 10px;
    padding: 10px 20px 10px;
    cursor: pointer;
}

